/* Estilos gerais */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: beige;
    position: relative; /* Permite sobrepor elementos */
    z-index: 1;
}

/* Video de fundo */
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
    object-fit: cover; /* Faz o vídeo cobrir a tela inteira */
    filter: brightness(0.7); /* Aplica um efeito de escurecimento no vídeo */
}

#dataHora {
    font-size: 2em;
    margin-bottom: 20px;
}

#fusoHorario {
    margin-top: 20px;
}

.dialog-title {
    font-size: 20px;
    text-align: center;
    color: #000;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 40px;
    width: 400px;
    height: 400px;
    max-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fefefe;
    position: relative;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
    border: none;
    background: transparent;
    cursor: pointer;
}

.close:hover {
    color: black;
}

form {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

#dialogDataHora {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para os botões com cores alaranjadas */
#registrarPontoBtn {
    background-color: #FFA500; /* Cor alaranjada suave */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 300px;
    margin-top: 100px;
}

#registrarPontoBtn:hover {
    background-color: #FF8C00; /* Cor mais escura ao passar o mouse */
}

button {
    background-color: #FFA500; /* Cor alaranjada suave */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #FF8C00; /* Cor mais escura ao passar o mouse */
}

/* Estilos para o pop-up */
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: transparent; /* Mantido transparente para destacar apenas a imagem */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.popup.show {
    opacity: 1;
    visibility: visible;
}

.popup img {
    max-width: 1000px; 
    height: auto;
    border: 5px solid black; 
    border-radius: 10px; 
}
