body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url('../image/img2.png');
    color: beige;
    background-color: rgba(100, 102, 98, 0.7); 
    background-blend-mode: darken; 
}

#dataHora {
    font-size: 2em;
    margin-bottom: 20px;
}

#fusoHorario {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
